// Variables
$day-size: 100px;
$day-gap: 1px;
$calendar-padding: 10px;
$bg-color: #eee;
$hover-color: #ffbfcb;
$font-size: 30px;
$columns: 7;

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $day-gap;
  padding: $calendar-padding;
  width: ($columns * $day-size)
  + (($columns - 1) * $day-gap)
  + (2 * $calendar-padding);
  box-sizing: border-box;

  &__day {
    width: $day-size;
    height: $day-size;
    background-color: $bg-color;
    border: 1px solid black;
    position: relative;
    transition: all 0.5s;
    box-sizing: border-box;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $font-size;
    }

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
      transform: translateY(-20px);
    }
  }

  // Add numbers using ::before and @for
  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

  // Month length modifier
  @for $i from 28 through 30 {
    &--month-length-#{$i} {
      .calendar__day:nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }

  // Start day modifier
  // $days: (
  //   sun: 0,
  //   mon: 1,
  //   tue: 2,
  //   wed: 3,
  //   thu: 4,
  //   fri: 5,
  //   sat: 6,
  // );

  // @each $name, $index in $days {
  //   &--start-day-#{$name} {
  //     .calendar__day:first-child {
  //       margin-left: ($day-size + $day-gap) * $index;
  //     }
  //   }
  // }

  $start-days: (mon, tue, wed, thu, fri, sat, sun);
  @each $day in $start-days {
    $index: index($start-days, $day) - 1;
    .calendar--start-#{$day} .calendar__day:first-child {
      margin-left: calc(
        ($day-size + $day-gap) * #{$index} + ($day-gap * #{$index}) * 2
      );
    }
  }
}
